.am-modal-body,
.am-modal-header {
  padding: 0 0.3rem 0.3rem !important;
  font-size: 0.28rem;
}
.am-modal-title {
  font-size: 0.3rem;
}
.am-modal-button-group-v .am-modal-button {
  line-height: 1rem;
  height: 1rem;
  font-size: 0.28rem;
}
.Index {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
}
.Index .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(92, 108, 124, 0.5);
}
.Index .showCard {
  z-index: 3;
}
.Index .bottom {
  align-self: flex-end;
  height: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.Index .bottom .left {
  font-size: 0.24rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: white;
}
.Index .bottom .left img {
  height: 0.8rem;
  width: 0.8rem;
}
.Index .bottom .right {
  font-size: 0.24rem;
  display: flex;
  color: white;
  flex-direction: column;
  align-self: flex-end;
}
.Index .bottom .right img {
  height: 0.8rem;
  width: 0.8rem;
}
.Index .bottom .btn {
  width: 2.8rem;
  background-color: #ff5e61;
  border-radius: 50px;
  line-height: 0.9rem;
  color: white;
  font-size: 0.28rem;
}
.popup-list .am-list-body {
  height: 4.2rem;
  overflow: auto;
}
.openCarCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.openCarCode .price {
  margin-top: 0.25rem;
  font-size: 0.3rem;
}
.openCarCode p {
  margin-top: 0.25rem;
  color: #999999;
  justify-content: center;
  display: flex;
}
.openCarCode span {
  text-align: center;
}
.openCarCode input {
  height: 0.9rem;
  margin-top: 0.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  outline: none;
  border: 1px solid #ff5e61;
  border-radius: 0.5rem;
  font-size: 0.3rem;
}
.openCarCode .OpenCarCodeBtn {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.3rem;
  margin-top: 0.25rem;
  background-color: #ff5e61;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.openCarCode .other {
  margin-top: 0.25rem;
  font-size: 0.24rem;
  color: #999999;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.openCarCode .other .sao,
.openCarCode .other .lighten {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.openCarCode .other .sao i,
.openCarCode .other .lighten i {
  display: flex;
  justify-content: center;
}
