.OpenCar {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 10.24rem;
  animation: Open 1s linear 2s infinite;
}
.OpenCar .content {
  padding: 0.2rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: block;
}
.OpenCar .content span {
  font-size: 0.14rem;
}
.OpenCar .content i {
  font-style: normal;
  font-size: 0.28rem;
}
.OpenCar .content .icon-zhengque {
  font-size: 0.4rem;
  color: #07eb60;
}
@keyframes Open {
  0% {
    background-image: radial-gradient(circle, white 0, white 1rem, rgba(220, 101, 103, 0.2) 1rem, rgba(220, 101, 103, 0.2) 2rem, rgba(220, 101, 103, 0.1) 2rem, rgba(220, 101, 103, 0.1) 3rem, rgba(220, 101, 103, 0.05) 3rem, rgba(220, 101, 103, 0.05) 4rem, rgba(0, 0, 0, 0) 4rem);
  }
  33% {
    background-image: radial-gradient(circle, white 0, white 1rem, rgba(220, 101, 103, 0.1) 1rem, rgba(220, 101, 103, 0.1) 2rem, rgba(220, 101, 103, 0.2) 2rem, rgba(220, 101, 103, 0.2) 3rem, rgba(220, 101, 103, 0.05) 3rem, rgba(220, 101, 103, 0.05) 4rem, rgba(0, 0, 0, 0) 4rem);
  }
  66% {
    background-image: radial-gradient(circle, white 0, white 1rem, rgba(220, 101, 103, 0.1) 1rem, rgba(220, 101, 103, 0.1) 2rem, rgba(220, 101, 103, 0.05) 2rem, rgba(220, 101, 103, 0.05) 3rem, rgba(220, 101, 103, 0.2) 3rem, rgba(220, 101, 103, 0.2) 4rem, rgba(0, 0, 0, 0) 4rem);
  }
  100% {
    background-image: radial-gradient(circle, white 0, white 1rem, rgba(220, 101, 103, 0.2) 1rem, rgba(220, 101, 103, 0.2) 2rem, rgba(220, 101, 103, 0.1) 2rem, rgba(220, 101, 103, 0.1) 3rem, rgba(220, 101, 103, 0.05) 3rem, rgba(220, 101, 103, 0.05) 4rem, rgba(0, 0, 0, 0) 4rem);
  }
}
